.corpo  {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/724/474/485/pokemon-go-logo-minimalism-wallpaper-preview.jpg);
 
}

.corpo .content h1, h2, p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonImage {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25rem;
}

.pokemonImage #idPokeImage {
    width: 250px;
    height: 200px;

}

#idPokeName {
    text-transform: capitalize;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.buttonVoltar {
    color: black;
    background-color: red;
    border-radius: 25rem;
}